{{ header }}

<main class="base-main main important-width mb-4">
    <div class="custom-width">
        <nav class="breadcrumbs">
            <ul>
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <li class="breadcrumb-last"><p>{{ breadcrumb.text }}</p></li>
                    {% else %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

        <div class="block mb-4">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">{{ name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="bg-white">
                        {{ column_left }}
                        fsdfdssdnjkfblsdbfsafbjlsafbklsadfbsd
                        fsdfdssdnjkfblsdbfsafbjlsafbklsadfbsd
                        fsdfdssdnjkfblsdbfsafbjlsafbklsadfbsd
                    </div>
                </div>

                <div class="col-9 catalog-products">
                    <div class="view-options mb-4">
                        <button type="button" id="list-view-btn" class="btn btn-default" data-toggle="tooltip">
                            <i class="fi fi-rr-list"></i>
                        </button>
                        <button type="button" id="grid-view-btn" class="btn btn-default selected" data-toggle="tooltip">
                            <i class="fi fi-rr-apps"></i>
                        </button>
                    </div>
                    <div class="product-list grid-view">
                        {% for product in products %}
                            <div class="catalog-product">
                                <div class="catalog-product-image">
                                    <a class="catalog-product-image-link" href="{{ product.href }}">
                                        <img src="{{ product.image }}" alt="{{ product.name }}">
                                    </a>
                                    <span class="catalog-product-discount">{{ product.action_price_percent|number_format(0, '.', ' ') }} %</span>
                                </div>
                                <a class="catalog-product-name"
                                   href="{{ product.href }}"><span>{{ product.name }}</span></a>
                                <div class="catalog-product-rating">
                                    <div class="rating">
                                        <div class="rating-block">
                                            {% for i in 1..5 %}
                                                {% if product.rating < i %}
                                                    <i class="fi fi-rr-star"></i>
                                                {% else %}
                                                    <i class="fi fi-sr-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="product-action"><span class="badge" style="">Акция</span></div>
                                </div>
                                <div class="product-buy">
                                    <div class="product-details">
                                        <div class="product-price">{{ product.action_price|number_format(0, '.', ' ') }}
                                            ₽
                                            <span class="product-price-prev">{{ product.price|number_format(0, '.', ' ') }}</span>
                                        </div>
                                    </div>
                                    <div class="btn product-btn" onclick="wishlist.add('{{ product.product_id }}');">
                                        <i class="fi fi-rr-heart"></i>
                                    </div>
                                    <div class="btn product-btn product-btn-cart"
                                         onclick="cart.add('{{ product.product_id }}');">
                                        <i class="fi fi-rs-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $('.catalog-products').on('click', '#grid-view-btn', function () {
            $('.product-list').removeClass('list-view').addClass('grid-view');
            $('.product-btn-cart').html('<i class="fi fi-rs-shopping-cart"></i>');
        });

        $('.catalog-products').on('click', '#list-view-btn', function () {
            $('.product-list').removeClass('grid-view').addClass('list-view');

            $('.product-btn-cart').text('Купить');
        });

        $('.catalog-products .catalog-product').hover(
            function () {
                $(this).find('.product-btn-cart').addClass('hover');
            },
            function () {
                $(this).find('.product-btn-cart').removeClass('hover');
            }
        );

        $('.catalog-products .catalog-product .product-link').hover(
            function () {
                $(this).find('.fi-rr-arrow-right').addClass('lll');
            },
            function () {
                $(this).find('.fi-rr-arrow-right').removeClass('lll');
            }
        );
    });

    $(document).ready(function () {
        $('.view-options button').click(function () {
            $('.view-options button').removeClass('selected');
            $(this).addClass('selected');
        });
    });

</script>


{{ footer }}
