<!doctype html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    <title>{{ title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel='stylesheet'
          href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <link rel='stylesheet'
          href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css'>

    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}

    <link rel="stylesheet" href="catalog/view/theme/inten/assets/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="catalog/view/theme/inten/assets/owlcarousel/owl.theme.default.min.css">
    <link href="catalog/view/theme/inten/assets/scss/main.css" rel="stylesheet">


    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>

<body>

<div class="wrapper custom-width" id="top">
    <div class="header-top important-width">
        <nav class="row custom-width d-flex align-items-center mt-3">
            <div class="col-3 position-relative ps-0"><a href="#"><i class="fi fi-rr-marker me-3"></i>Краснодар</a></div>
            <div class="col-6 d-flex">
                {% for menu_item in top_menu_items %}
                    {% if loop.first %}
                        <div class=" me-4"><a href="{{ menu_item.link }}">{{ menu_item.title }}<span
                                        class="red-circle"></span></a></div>
                    {% else %}
                        <div class="ms-4 me-4"><a href="{{ menu_item.link }}">{{ menu_item.title }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-3 text-end"><a href="tel:8 (861) 202-54-44" class="tel">8 (861) 202-54-44</a></div>
        </nav>
    </div>

    <header class="header-bottom important-width sticky-top pt-3 pb-3 mb-2" id="sticky">
        <nav class="row custom-width d-flex align-items-center">
            <div class="col-3 header-title ps-0">
                <div class="header-block pt-2 pb-2 d-flex justify-content-between align-items-center">
                    <a href="{{ base }}" class="ms-4">INTEN</a>
                    <div class="header-mini-block me-2">
                        <span>Каталог</span>
                        <i class="fi fi-rr-angle-small-down"></i>
                    </div>
                </div>
            </div>
            <div class="col-7 custom-col header-search">
                {{ search }}
            </div>
            <div class="col-2 d-flex header-buttons ps-0">
                <div class="button-item">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20"
                             fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M0.605011 7.10603C0.605011 3.47745 3.25345 0.375 6.70919 0.375C8.57905 0.375 10.2235 1.29469 11.33 2.70532C12.4365 1.29474 14.0807 0.375 15.9496 0.375C19.4065 0.375 22.055 3.47884 22.055 7.10603C22.055 8.56485 21.5038 9.96842 20.7076 11.2412C19.9097 12.5171 18.8352 13.7106 17.7117 14.7659C15.4651 16.8759 12.9348 18.5137 11.7591 19.2297C11.4955 19.3902 11.1642 19.3902 10.9006 19.2294C9.72521 18.513 7.19488 16.8751 4.94837 14.7654C3.82481 13.7102 2.75037 12.5168 1.95238 11.2411C1.15626 9.96835 0.605011 8.56486 0.605011 7.10603ZM6.70919 2.025C4.33382 2.025 2.25501 4.20988 2.25501 7.10603C2.25501 8.14968 2.6523 9.24868 3.35125 10.3661C4.04831 11.4804 5.01543 12.5648 6.07792 13.5626C7.96474 15.3346 10.0833 16.7701 11.3301 17.5546C12.5769 16.7707 14.6954 15.3352 16.5821 13.5631C17.6446 12.5653 18.6117 11.4808 19.3088 10.3663C20.0077 9.24878 20.405 8.14969 20.405 7.10603C20.405 4.21126 18.3262 2.025 15.9496 2.025C14.3223 2.025 12.8527 3.03204 12.0691 4.61171C11.9297 4.89247 11.6434 5.07006 11.33 5.07006C11.0166 5.07006 10.7302 4.89247 10.591 4.61171C9.80734 3.03215 8.33779 2.025 6.70919 2.025Z"
                                  fill="#AFAFAF"/>
                        </svg>
                        Избранное
                    </a>
                </div>
                <div class="button-item">
                    {{ cart }}
                </div>
                <div class="button-item">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20"
                             fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M10.455 1.76923C5.84026 1.76923 2.09925 5.51024 2.09925 10.125C2.09925 12.1529 2.82166 14.0121 4.02317 15.4592C5.48922 13.9599 7.45903 12.7237 10.455 12.7237C13.4496 12.7237 15.4195 13.9501 16.8877 15.4581C18.0887 14.0112 18.8108 12.1524 18.8108 10.125C18.8108 5.51024 15.0698 1.76923 10.455 1.76923ZM15.8157 16.5347C14.5562 15.2338 12.9495 14.2429 10.455 14.2429C7.96338 14.2429 6.35602 15.24 5.0953 16.5356C6.54607 17.7498 8.41519 18.4808 10.455 18.4808C12.4953 18.4808 14.3648 17.7495 15.8157 16.5347ZM0.580017 10.125C0.580017 4.67119 5.00121 0.25 10.455 0.25C15.9088 0.25 20.33 4.67119 20.33 10.125C20.33 15.5788 15.9088 20 10.455 20C5.00121 20 0.580017 15.5788 0.580017 10.125ZM10.455 5.60724C9.0198 5.60724 7.85633 6.77071 7.85633 8.20593C7.85633 9.64114 9.0198 10.8046 10.455 10.8046C11.8902 10.8046 13.0537 9.64114 13.0537 8.20593C13.0537 6.77071 11.8902 5.60724 10.455 5.60724ZM6.3371 8.20593C6.3371 5.93166 8.18075 4.08801 10.455 4.08801C12.7293 4.08801 14.5729 5.93166 14.5729 8.20593C14.5729 10.4802 12.7293 12.3238 10.455 12.3238C8.18075 12.3238 6.3371 10.4802 6.3371 8.20593Z"
                                  fill="#AFAFAF"/>
                        </svg>
                        Войти
                    </a>
                </div>
            </div>
        </nav>
    </header>
