{{ header }}

<main class="main mt-2" id="common-home">

    <div class="row">
        <div class="col-3 menu">
            {{ menu }}
        </div>
        <div class="col-9 home-block" >
            <section class="row">
                <div class="col-3 home-block-item first" style="background: #DFF3FF">
                    <h2>Личный кабинет</h2>
                    <p>Получайте бонусы, отслеживайте заказы
                        и делитесь мнением</p>
                    <a href="{{ account }}" class="btn btn-sales">Войти</a>
                    <a href="{{ order }}" class="btn btn-sales">Мои заказы</a>
                </div>
                <div class="col-3 home-block-item" style="background: #13fca8">
                    <a href="#">
                        <h2>Акции</h2>
                        <p>Скидки, рассрочки,
                            выгодные комплекты</p>
                    </a>
                </div>
                <div class="col-3 home-block-item" style="background: #bdbdbd">
                    <a href="#">
                        <h2>Услуги</h2>
                        <p>Без проблем c
                            совместимостью</p>
                    </a>
                </div>
                <div class="col-3 home-block-item last" style="background: #d8aeff">
                    <a href="#">
                        <h2>Проектные решения</h2>
                        <p>
                            Дарите любимым
                        </p>
                    </a>
                </div>
            </section>
            <section class="row">
                {{ content_top }}
            </section>
        </div>
    </div>

    <div>
        <section>
            {{ content_bottom }}
        </section>
    </div>

</main>

{{ footer }}