<div class="mt-3 mb-3">
    <div class="row">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                {% for banner in banners %}
                    <div class="banner">
                        {% if banner.link %}
                            <a href="{{ banner.link }}">
                                <img src="{{ banner.image }}" alt="{{ banner.title }}">
                            </a>
                        {% else %}
                            <img src="{{ banner.image }}" alt="{{ banner.title }}">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>