<section class="sales-products mt-5">
            <div class="container-fluid ps-0 pe-0">
                <div class="row mb-5">
                    <div class="col-12">
                        <h2 class="section-title">
                            <span>{{ title }}</span>
                        </h2>
                    </div>
                </div>

                <div class="row">

                    {% for product in products %}

                        <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                            <div class="product-cart">
{#                                <div class="product-cart-offer">#}
{#                                    <div class="offer-hit">Хит</div>#}
{#                                </div>#}
{#                                <div class="product-cart-wishlist">#}
{#                                    <button type="button" class="btn-cart"#}
{#                                            onclick="wishlist.add('{{ product.product_id }}');">#}
{#                                        <i class="fa-regular fa-heart fa-xl"></i>#}
{#                                    </button>#}
{#                                </div>#}
                                <div class="product-thumb">
                                    <a href="{{ product.href }}"> <img src="{{ product.thumb }}"
                                                                       alt="{{ produtc.name }}"></a>
                                </div>
                                <div class="products-details">
                                    <h4>
                                        <a href="{{ product.href }}">{{ product.name }}</a>
                                    </h4>
                                    <p class="product-expect">
                                        {{ product.description }}
                                    </p>
                                    <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                        <div class="product-price">
                                            {{ product.price }}
                                        </div>
                                        <div class="product-links">
{#                                            <button type="button" class="btn btn-gray"#}
{#                                                    onclick="wishlist.add('{{ product.product_id }}');">#}
{#                                                <i class="fa-regular fa-heart fa-xl"></i>#}
{#                                            </button>#}

                                            <button type="button" class="btn btn-gray"
                                                    onclick="cart.add('{{ product.product_id }}');">В корзину
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </section>