{% if status == 1 %}
    <div id="home-categories" class="row mt-5">
        <div class="col-4 showcase-block">
            <h2 class="showcase-title">{{ banner_new_categories.title }}</h2>
            <div class="row">
                <div class="col-6">
                    <a>
                        <img src="{{ baseUrl }}image/{{ banner_new_categories.image }}">
                    </a>
                </div>
                <div class="col-6">
                    {% for category in new_categories %}
                        <div class="showcase-category">{{ category.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4 showcase-block ">
            <h2 class="showcase-title">{{ banner_bestseller_categories.title }}</h2>
            <div class="row">
                <div class="col-6">
                    <a>
                        <img src="{{ baseUrl }}image/{{ banner_bestseller_categories.image }}">
                    </a>
                </div>
                <div class="col-6">
                    {% for category in bestseller_categories %}
                        <div class="showcase-category">{{ category.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4 showcase-block">
            <h2 class="showcase-title">{{ banner_sale_categories.title }}</h2>
            <div class="row">
                <div class="col-6">
                    <a>
                        <img src="{{ baseUrl }}image/{{ banner_sale_categories.image }}">
                    </a>
                </div>
                <div class="col-6">
                    {% for category in sale_categories %}
                        <div class="showcase-category">{{ category.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
