<div id="home-categories">
    <div class="block">
        <h2>{{ heading_new }}</h2>
        {% for category in new_categories %}
            <div class="category">{{ category.name }}</div>
        {% endfor %}
    </div>
    <div class="block">
        <h2>{{ heading_bestseller }}</h2>
        {% for category in bestseller_categories %}
            <div class="category">{{ category.name }}</div>
        {% endfor %}
    </div>
    <div class="block">
        <h2>{{ heading_sale }}</h2>
        {% for category in sale_categories %}
            <div class="category">{{ category.name }}</div>
        {% endfor %}
    </div>
</div>
