{{ header }}

<main class="base-main main important-width mb-4">
    <div class="custom-width">
        <nav class="breadcrumbs">
            <ul>
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <li class="breadcrumb-last"><p>{{ breadcrumb.text }}</p></li>
                    {% else %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

        <div class="action-block mb-4">
            <div class="row">
                <div class="col-12">
                    <h1 class="action-title">{{ action_info.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-9 action-info">
                    <div>
                        <img src="{{ action_info.page_image }}" alt="{{ action_info.name }}">
                    </div>
                    <div class="row mt-4">
                        <div class="col-8 mt-4" style="max-width: 590px">
                            <p class="p-text">Привлекательные цены на товары из списка!</p>
                            <div class="description p-text">{{ description }}</div>
                        </div>
                        <div class="col-4" style="width: auto; ">
                            <div class="timer">
                                <p>До завершения акции:</p>
                                <div class="d-flex justify-content-center" id="countdown">
                                    <div class="timer-block text-center me-2">
                                        <span id="days">00</span>
                                        <div class="unit" id="day">дней</div>
                                    </div>
                                    <div class="timer-block text-center me-2">
                                        <span id="hours">00</span>
                                        <div class="unit" id="hour">часов</div>
                                    </div>

                                    <div class="timer-block d-flex">
                                        <div class="colon ">:</div>
                                        <div class="text-center">
                                            <span id="minutes">00</span>
                                            <div class="unit" id="minute">минут</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row action-accordion">
                        <div class="col-12 mt-1">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Читать условия акции
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            {{ action_info.special_desk }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-10 p-date">
                            Срок проведения акции: {{ date }}
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    fhjsdfjnSKDfjSfjSDfjk
                    fhjsdfjnSKDfjSfjSDfjk
                    fhjsdfjnSKDfjSfjSDfjk
                    fhjsdfjnSKDfjSfjSDfjk
                    fhjsdfjnSKDfjSfjSDfjk
                    fhjsdfjnSKDfjSfjSDfjk
                    fhjsdfjnSKDfjSfjSDfjk
                    fhjsdfjnSKDfjSfjSDfjk
                    fhjsdfjnSKDfjSfjSDfjk
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        const countdownDate = new Date('{{ date_countdown }}');

        const countdownTimer = setInterval(function () {
            const now = new Date();
            const distance = countdownDate - now;

            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

            document.getElementById('days').innerText = days;
            document.getElementById('hours').innerText = hours;
            document.getElementById('minutes').innerText = minutes;

            document.getElementById('day').innerText = getDeclension(days, ['день', 'дня', 'дней']);
            document.getElementById('hour').innerText =getDeclension(hours, ['час', 'часа', 'часов']);

            document.getElementById('minute').innerText =getDeclension(minutes, ['минута', 'минуты', 'минут']);

            if (distance < 0) {
                clearInterval(countdownTimer);
                document.getElementById('countdown').innerHTML = '<div class="expired">Время вышло!</div>';
            }
        }, 1000);

        // Функция для склонения слов
        function getDeclension(number, titles) {
            const cases = [2, 0, 1, 1, 1, 2];
            return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
        }
    });
</script>


{{ footer }}