{{ header }}

<main class="base-main main important-width mb-4">
    <div class="custom-width">
        <nav class="breadcrumbs">
            <ul>
                {% for breadcrumb in breadcrumbs %}
                    {% if loop.last %}
                        <li class="breadcrumb-last"><p>{{ breadcrumb.text }}</p></li>
                    {% else %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

        <div class="action-block mb-4">
            <div class="row">
                <div class="col-12">
                    <h1 class="action-title">{{ action_info.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-9 action-info">
                    <div>
                        <img src="{{ action_info.page_image }}" alt="{{ action_info.name }}">
                    </div>
                    <div class="row mt-4">
                        <div class="col-7">
                            <p class="p-text">Привлекательные цены на товары из списка!</p>
                        </div>
                        <div class="col-5">
                            <div id="countdown">
                                <div>
                                    <span id="days"></span>
                                    <div class="smalltext">Days</div>
                                </div>
                                <div>
                                    <span id="hours"></span>
                                    <div class="smalltext">Hours</div>
                                </div>
                                <div>
                                    <span id="minutes"></span>
                                    <div class="smalltext">Minutes</div>
                                </div>
                                <div>
                                    <span id="seconds"></span>
                                    <div class="smalltext">Seconds</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            Accordion Item #1
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            {{ action_info.special_desk }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        const countdownDate = new Date('{{ date_countdown }}');

        const countdownTimer = setInterval(function () {
            const now = new Date();

            const distance = countdownDate - now;
            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

            document.getElementById('days').innerText = days;
            document.getElementById('hours').innerText = hours;
            document.getElementById('minutes').innerText = minutes;

            if (distance < 0) {
                clearInterval(countdownTimer);
                document.getElementById('countdown').innerHTML = '<div class="expired">Время вышло!</div>';
            }
        }, 1000);
    });
</script>


{{ footer }}