{{ header }}

<div class="actions mt-1">
    <h1 class="title">{{ name }}</h1>
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-9">
            {% for action in actions %}
                <div class="block d-flex">
                    <div class="block-image">
                        <img src="{{ action.block_image }}" alt="{{ action.name }}">
                    </div>
                    <div class="block-content">
                        <h2><a href="{{ href }}">{{ action.name }}</a></h2>
                        <p>{{ action.date }}</p>
                    </div>
                    <div class="block-product">
                        <div>
                            <img src="{{ product.thumb }}" alt="{{ product.name }}">
                            <h4>{{ product.name }}</h4>
                            <a href="{{ href }}">еще 5 товаров</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{{ footer }}