{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module"
                      class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="status" id="input-status" class="form-control">
                                {% if status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                        <div class="col-sm-10">
                            <input required type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}"
                                   id="input-name" class="form-control"/>
                            {% if error_name %}
                                <div class="text-danger">{{ error_name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-description">{{ entry_description }}</label>
                        <div class="col-sm-10">
                            <textarea name="description" placeholder="{{ entry_description }}" id="input-description"
                                      class="form-control custom-textarea">{{ description }}</textarea>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-start-date">Начало акции</label>
                        <div class="col-sm-10">
                            <div class='input-group date' id='datetimepicker-start'>
                                <input required type='text' name="start_date" value="{{ start_date }}" id="input-start-date" class="form-control" />

                                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>

                            </div>
                            {% if error_start_date %}
                                <div class="text-danger">{{ error_start_date }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-end-date">Окончание акции</label>
                        <div class="col-sm-10">
                            <div class='input-group date' id='datetimepicker-end'>
                                <input required type='text' name="end_date" value="{{ end_date }}" id="input-end-date" class="form-control" />
                                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
                            </div>
                            {% if error_end_date %}
                                <div class="text-danger">{{ error_end_date }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-block-image">{{ entry_block_image }}</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="text" name="block_image" value="{{ block_image }}"
                                       placeholder="{{ entry_block_image }}" id="input-block-image"
                                       class="form-control"/>
                                <span class="input-group-btn">
                <button type="button" id="btn-upload-block-image" class="btn btn-primary"><i
                            class="fa fa-upload"></i></button>
            </span>
                            </div>
                            {% if block_image %}
                                <img src="{{ block_image }}" alt="Block Image"
                                     style="max-width: 100px; max-height: 100px; margin-top: 10px;"/>
                            {% endif %}
                            {% if error_block_image %}
                                <div class="text-danger">{{ error_block_image }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-page-image">{{ entry_page_image }}</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input required type="text" name="page_image" value="{{ page_image }}"
                                       placeholder="{{ entry_page_image }}" id="input-page-image" class="form-control"/>
                                <span class="input-group-btn">
                <button type="button" id="btn-upload-page-image" class="btn btn-primary"><i
                            class="fa fa-upload"></i></button>
            </span>
                            </div>
                            {% if page_image %}
                                <img src="{{ page_image }}" alt="Page Image"
                                     style="max-width: 100px; max-height: 100px; margin-top: 10px;"/>
                            {% endif %}
                            {% if error_page_image %}
                                <div class="text-danger">{{ error_page_image }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label"
                               for="input-entry_special_desk">{{ entry_special_desk }}</label>
                        <div class="col-sm-10">
                            <textarea required name="special_desk" placeholder="{{ entry_special_desk }}"
                                      id="input-entry_special_desk"
                                      class="form-control custom-textarea">{{ special_desk }}</textarea>
                            {% if error_special_desk %}
                                <div class="text-danger">{{ error_special_desk }}</div>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary" onclick="insertTextFromTable()">Вставить стандартное описание</button>
                            <button type="button" class="btn btn-danger" onclick="deleteText()">Удалить описание</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip"
                                                                                        title="{{ help_product }}">{{ entry_product }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="product_name" value="" placeholder="{{ entry_product }}"
                                   id="input-product" class="form-control"/>
                            <div id="special-product" class="well well-sm" style="height: 150px; overflow: auto;">
                                {% for product in products %}
                                    <div id="special-product{{ product.product_id }}"><i
                                                class="fa fa-minus-circle"></i> {{ product.name }}
                                        <input type="hidden" name="product[]" value="{{ product.product_id }}"/>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </form>

                <div class="panel panel-default" style="width: 60%; margin: auto">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-shopping-cart"></i>Товары участвующие в акции</h3>
                    </div>
                    <div class="panel-body" >
                        <table class="table table-bordered" id="product-table">
                            <thead>
                            <tr>
                                <th style="text-align: center">Фото</th>
                                <th style="text-align: center">Название</th>
                                <th style="text-align: center">Цена (руб)</th>
                                <th style="text-align: center">Акционная цена (руб)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr id="special-product{{ product.product_id }}">
                                    <td style="text-align: center"><img src="{{ product.image }}" alt="{{ product.name }}"
                                             style="max-width: 100px; max-height: 100px;"></td>
                                    <td style="text-align: center">{{ product.name }}</td>
                                    <td style="text-align: center">{{ product.price }}</td>
                                    <td style="text-align: center"><input name="special_price[{{ product.product_id }}]"
                                               value="{{ product.special }}"></td>
                                    <input type="hidden" name="product_name[{{ product.product_id }}]"
                                           value="{{ product.name }}">
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript"><!--
        $('input[name=\'product_name\']').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['name'],
                                value: item['product_id'],
                                price: item['price'],
                                image: item['image'],
                                special: item['special']
                            }
                        }));
                    }
                });
            },
            select: function (item) {
                $('input[name=\'product_name\']').val('');

                $('#special-product' + item['value']).remove();

                $('#special-product').append('<div id="special-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');

                $('#product-table tbody').append(
                    '<tr id="special-product' + item['value'] + '">\
        <td style="text-align: center"><img src="' + item['image'] + '" alt="' + item['label'] + '" style="max-width: 100px; max-height: 100px;"></td>\
        <td style="text-align: center">' + item['label'] + '</td>\
        <td style="text-align: center">' + item['price'] + '</td>\
        <td style="text-align: center"><input name="special_price[' + item['value'] + ']" value="' + item['special'] + '"></td>\
        <td><input type="hidden" name="product_name[' + item['value'] + ']" value="' + item['label'] + '"></td>\
                    </tr>'
                );
            }
        });

        $('#form-module').on('submit', function (e) {
            updateFormData();
        });

        function updateFormData() {
            // Iterate over the rows in the product table
            $('#product-table tbody tr').each(function () {
                // Extract data from the current row
                var productId = $(this).attr('id').replace('special-product', '');
                var specialPrice = $(this).find('input[name^="special_price["]').val();
                var productName = $(this).find('input[name^="product_name["]').val();

                // Append hidden fields to the form with the extracted data
                $('#form-module').append('<input type="hidden" name="product_special[' + productId + ']" value="' + specialPrice + '">');
                $('#form-module').append('<input type="hidden" name="product_name[' + productId + ']" value="' + productName + '">');
            });
        }

        $('#special-product').on('click', '.fa-minus-circle', function () {
            // Получить ID продукта
            var productId = $(this).parent().attr('id').replace('special-product', '');

            // Удалить соответствующую строку из таблицы
            $('#product-table tbody tr#special-product' + productId).remove();

            // Удалить соответствующий элемент из блока special-product
            $(this).parent().remove();
        });
        //--></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#btn-upload-block-image').on('click', function () {
                uploadImage('input-block-image');
            });

            $('#btn-upload-page-image').on('click', function () {
                uploadImage('input-page-image');
            });

            function uploadImage(inputId) {
                $('#modal-image').remove();

                $.ajax({
                    url: 'index.php?route=common/filemanager&user_token={{ user_token }}',
                    dataType: 'html',
                    beforeSend: function () {
                        $('#button-upload').button('loading');
                    },
                    complete: function () {
                        $('#button-upload').button('reset');
                    },
                    success: function (html) {
                        $('body').append('<div id="modal-image" class="modal">' + html + '</div>');

                        $('#modal-image').modal('show');

                        $('#modal-image').delegate('a.thumbnail', 'click', function (e) {
                            e.preventDefault();

                            $('#' + inputId).val($(this).attr('href'));

                            $('#modal-image').modal('hide');
                        });
                    }
                });
            }
        });
    </script>

    <script>
        function insertTextFromTable() {
            $.ajax({
                url: 'index.php?route=extension/module/special/addDescription&user_token={{ user_token }}',
                method: 'GET',
                success: function(response) {
                    $('#input-entry_special_desk').val(response.description);
                },
                error: function(error) {
                    console.error('Произошла ошибка:', error);
                }
            });
        }

        function deleteText() {
            $('#input-entry_special_desk').val('');
        }
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            // Инициализация DateTimePicker для начала акции
            $('#datetimepicker-start').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
                // Дополнительные параметры и настройки, если необходимо
            });

            // Инициализация DateTimePicker для окончания акции
            $('#datetimepicker-end').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
                // Дополнительные параметры и настройки, если необходимо
            });
        });
    </script>
</div>

{{ footer }}
