{{ header }}

<main class="main">
    <div class="custom-width">

        <div class="container-fluid">
            <div class="row ">
                <div class="col-12 pe-0 ps-0">
                    <nav class="breadcrumbs">
                        <ul class="">

                            {% for breadcrumb in breadcrumbs %}

                                {% if loop.last %}
                                    <li><span>{{ breadcrumb.text }}</span></li>

                                {% else %}
                                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container-fluid ps-0 pe-0">
            <div class="row">

                {{ column_left }}

                <div class="col-lg-12 col-md-8 pe-0 ps-0">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group input-group mb-3">
                                <label class="input-group-text" for="input-sort">{{ text_sort }}</label>
                                <select id="input-sort" class="form-select" onchange="location = this.value;">
                                    {% for sorts in sorts %}
                                        {% if sorts.value == '%s-%s'|format(sort, order) %}
                                            <option value="{{ sorts.href }}"
                                                    selected="selected">{{ sorts.text }}</option>
                                        {% else %}
                                            <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4 mb-5">
                            <div class="form-group input-group input-group mb-3">
                                <label class="input-group-text" for="input-limit">{{ text_limit }}</label>
                                <select id="input-limit" class="form-select" onchange="location = this.value;">
                                    {% for limits in limits %}
                                        {% if limits.value == limit %}
                                            <option value="{{ limits.href }}"
                                                    selected="selected">{{ limits.text }}</option>
                                        {% else %}
                                            <option value="{{ limits.href }}">{{ limits.text }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        {% if products %}

                            {% for product in products %}

                                <div class="col-3 mb-3">
                                    <div class="product-cart">
                                        <div class="product-cart-offer">
                                            <div class="offer-hit">Хит</div>
                                        </div>
                                        <div class="product-cart-wishlist">
                                            <button type="button" class="btn-cart"
                                                    onclick="wishlist.add('{{ product.product_id }}');">
                                                <i class="fa-regular fa-heart fa-xl"></i>
                                            </button>
                                        </div>
                                        <div class="product-thumb">
                                            <a href="{{ product.href }}"> <img src="{{ product.thumb }}"
                                                                               alt="{{ produtc.name }}"></a>
                                        </div>
                                        <div class="products-details">
                                            <h4>
                                                <a href="{{ product.href }}">{{ product.name }}</a>
                                            </h4>
                                            <p class="product-expect">
                                                {{ product.description }}
                                            </p>
                                            <div class="product-bottom-details d-flex justify-content-between align-items-center">
                                                <div class="product-price">
                                                    {{ product.price }}
                                                </div>
                                                <div class="product-links">
                                                    <button type="button" class="btn btn-gray"
                                                            onclick="cart.add('{{ product.product_id }}');">В корзину
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                            <div class="col-12">{{ pagination }}</div>

                        {% else %}

                            <div class="col-lg-12">{{ text_empty }}</div>

                        {% endif %}


                    </div>
                </div>


            </div>
        </div>
    </div>

</main>


{{ footer }}